.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.table-container {
    padding: 20px 30px;
}

.fa-map-marker-alt {
    color: #dc143c;
    font-size: 25px;
    margin-right: 10px;
}

.fa-calendar-alt,
.fa-user-tag,
.fa-venus-mars,
.fa-staylinked,
.fa-globe {
    font-size: 25px;
    margin-right: 10px;
    color: #000000;
}

.content-container {
    color: #000000 !important;
}

.character-card {
    cursor: pointer;
}

.modal-image > img {
    height: 100% !important;
}

.ui[class*='equal width'].grid > .column:not(.row) {
    display: flex;
    justify-content: center;
}

.ui.grid {
    justify-content: center;
    padding-top: 20px;
}

.ui.menu {
    min-height: 66px;
}

.pagination-container {
    margin-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.my-list-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui.divided.list > .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
